*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
  }

// div {
//   display: block;
//   margin-top: 1em;
// }


h1 {
  color: tomato;
  text-align: center;
  padding: 1em;
}

p {
  margin-top: 2em;
}

#hint {
  font-style: italic;
  font-size: 0.8em;
}

form {
  padding: 1em;
}

section {
  height: 12em;
  font-size: 1.2em;
  margin: 2em;
  ol {
    margin: 1em;
    display: inline-block;
    width: 50%;
    li {
      text-align: left;
      text-transform: capitalize;
    }
  }
}


img {
  max-width: 90%;
  height: auto;
  padding: 1em;
}